REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_SOCKET_URL=http://localhost:5000
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51SSNH2JkEkRRnoJbSUd3qJEDf5dlRRevtkBHI6iAokJhw8EsVinC2jkHmjTDy6f5md1SU2mPpRcGiwyrb1RHh10Y00kL2MCxtu
